@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px currentColor;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 2px currentColor;
  }
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-2000px); }
}
.animate-scroll {
  animation: scroll 40s linear infinite;
}
